@import url("css/index.css");
.wrap {
    display: flex;
    justify-content: space-between;
}
aside.leaderboard{

}
.question{
    /* display: relative; */
}
.countdown{
    display: none;
    position: absolute;
    bottom: 0;
}
main{
    margin-right: auto;
}
@media (max-width: 700px) {
    aside.leaderboard {
        display: none;
    }
}